/* @media all and (min-width: 480px) {
    .ShopParams {
        padding: 60px 0%;
        align-items: center;
        justify-content: center;
    }

    .ShopParams form {
        margin: 0 auto;
        max-width: 600px;
        justify-content: center;
    }
} */